footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  padding: 20px 0px;
  h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    a {
      color: #fff;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    h1 {
      margin-bottom: 10px;
    }
  }
}
